CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

# LVGL Fonts
CONFIG_LV_FONT_MONTSERRAT_10=y
CONFIG_LV_FONT_MONTSERRAT_12=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_48=y
CONFIG_HTTPD_WS_SUPPORT=y
CONFIG_HTTPD_MAX_URI_HANDLERS=12
CONFIG_LV_MEM_CUSTOM=y

# Hardware Settings for ESP32-P4
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=360

# PSRAM / SPIRAM Settings
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_20M=y
CONFIG_SPIRAM_USE_MALLOC=y
CONFIG_SPIRAM_ECC_ENABLE=y
CONFIG_SPIRAM_BOOT_INIT=y

# LVGL Performance & Compatibility
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_DPI_DEF=130
CONFIG_LCD_DSI_ISR_IRAM_SAFE=y

